/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
@import "compass";
/* End Variables & Mixins */

@import "//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic:latin|Tinos:400,700,400italic,700italic:latin";

.section-header {
	//background-image: url("http://d21xh06p65pae.cloudfront.net/www.larrylipshultz.com/assets/images/tex-soft-stone-v1449603337.png");
	@include background-image(radial-gradient(50% 31%,ellipse farthest-side,#0B90D3,#065379 100%));
}

.zone-user-wrapper {
	height: 40px;
	@include background-image(radial-gradient(50% 91%,ellipse farthest-side,#0B90D3,#065379 100%));
	color: #fff;
	border-bottom: 1px solid #000;
	font: 14px/38px "PT Sans";
	text-transform: uppercase;

  .overLayer {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		background: url("//d21xh06p65pae.cloudfront.net/www.larrylipshultz.com/assets/images/tex-soft-stone-v1449603337.png") top center rgba(0, 0, 0, 0.20);
	}

	.region-user-first {
		line-height: 40px;
		margin-left: 0;

		.block-menu-user-bar-menu {
			ul li {
				list-style: none;
				float: left;
				margin: 0 0 0 3px;

				a {
					color: #fff;
					border-right: 1px solid #fff;
					padding: 0 9px 0 0;
				}
				&.last {
					a {
						border: none;
					}
				}
			}
		}
	}

	.region-user-second {
		line-height: 40px;

		span {
			border-right: 1px solid #fff;
    	margin: 0 10px 0 0;
    	padding: 0 10px 0 0;
		}

		.block-block-1 {
			float: right;
		}
	}
}

.zone-branding-wrapper {
	    background: url("//d21xh06p65pae.cloudfront.net/www.larrylipshultz.com/assets/images/tex-soft-stone-v1449603337.png") top center;

			.region-header-first {
				.block-menu {
					margin: 97px 0 0;
					ul.menu {
						li {
							list-style:  none outside none;
							float: left;
							border-left-width: 1px;
    					border-left-style: solid;
							border-color: rgba(255,255,255,0.25);
							position:  relative;
							padding: 0 15px 0 15px;
							margin: 0;
							&:before {
								content: '';
								display: block;
								width: 1px;
								height: 100%;
								border-left: 1px solid rgba(0,0,0,0.25);
								position: absolute;
								left: -2px;
								top: 0;
							}
							a {
								font-size: 16px;
								line-height: 15px;
								text-decoration: none;
								text-transform: none;
								font-family: 'PT Sans', sans-serif;
								display: block;
								color: #fff;
								span {
									font-size: 12px;
									display: block;
									color: #b6afb6;
								}
								&:hover {
									color: #b6afb6;
									&:before {
										content: '';
								    display: block;
								    border-bottom: 3px solid #b6afb6;
								    position: absolute;
								    left: 0;
								    right: 0;
								    bottom: -6px;
								    margin: 0 13px;
									}
								}
							}
							&.last {
								padding-right: 0;
								a:hover {
									&:before {
										margin: 0 0 0 13px;
									}
								}
							}
						}
					}
				}
			}
}
