/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */

/* Include Default Variables & Mixins */
@import "_variables.scss";
@import "_mixins.scss";
@import "compass";
/* End Variables & Mixins */

@import "//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic:latin|Tinos:400,700,400italic,700italic:latin";

body {
	font: 14px 'PT Sans', sans-serif;
	background-color: #f6f6f6;
}

h1, h2, h3, h4, h5 {
	  font-family: "Tinos", serif;
		color: #065379;
		font-weight: normal;
}

h1 {
	font-size: 36px;
	line-height: 1em;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 8px 0;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 8px;
}

img {
  max-width: 100%;
  height: auto !important;
}

a:link, a:visited {
  color: #065379;
	border-color: #065379;
  text-decoration: none; }

a:hover {
	color: #0b95da;
	border-color: #0b95da; }

//Blog Default
.page-blog .region-content .view-blogs .view-content .views-row {
	float: none;
	clear: none;
	width: auto;
}
.page-blog .region-content .view-blogs .view-content .views-row {
	border: none;
}
.page-blog .region-content .view-content .views-row {
	h2 {
		text-transform: none;
		font-size: 24px;
		margin: 0 0 8px;
		padding: 0 0 8px;
	}
	.views-field-created {
		font-size: 12px;
		margin: 0 0 5px;
	}
}
//Sections and Regions
.section-header {
	@include background-image(radial-gradient(50% 31%,ellipse farthest-side,#0B90D3,#065379 100%));
}
.zone-preface {
	background: none;
}
.zone-content-wrapper {
	.zone-content {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.zone-user-wrapper {
	height: 40px;
	@include background-image(radial-gradient(50% 91%,ellipse farthest-side,#0B90D3,#063D58 100%));
	color: #fff;
	border-bottom: 1px solid #0974aa;
	font: 14px/38px "PT Sans";
	text-transform: uppercase;

  .overLayer {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		border-bottom: 1px solid #00334d;
		background: url("../images/tex-soft-stone-v1449603337.png") top center rgba(0, 51, 77, 0.25);
	}

	.region-user-first {
		line-height: 40px;
		margin-left: 0;

		.block-menu-user-bar-menu {
			ul li {
				list-style: none;
				float: left;
				margin: 0 0 0 3px;

				a {
					color: #fff;
					border-right: 1px solid #fff;
					padding: 0 9px 0 0;
				}
				&.last {
					a {
						border: none;
					}
				}
			}
		}
	}

	#region-user-second {
		background: none;
	}
	.region-user-second {
		line-height: 40px;
		span {
			border-right: 1px solid #fff;
    	margin: 0 10px 0 0;
    	padding: 0 10px 0 0;
		}

		.block-block-1 {
			float: right;
		}
	}
}

.zone-branding-wrapper {
	    background: url("../images/tex-soft-stone-v1449603337.png") top center;

			.zone-branding {
				padding: 50px 0 18px;
				.region-branding {
					margin: 0;
				}
			}

			.region-header-first {
				padding: 49px 0 0;

				.block-menu {
					//margin: 97px 0 0;
					ul.menu {
						li {
							list-style:  none outside none;
							float: left;
							border-left-width: 1px;
    					border-left-style: solid;
							border-color: rgba(255,255,255,0.25);
							position:  relative;
							padding: 0 15px 0 15px;
							margin: 0;
							&:before {
								content: '';
								display: block;
								width: 1px;
								height: 100%;
								border-left: 1px solid rgba(0,0,0,0.25);
								position: absolute;
								left: -2px;
								top: 0;
							}
							a {
								font-size: 16px;
								line-height: 15px;
								text-decoration: none;
								text-transform: none;
								font-family: 'PT Sans', sans-serif;
								display: block;
								color: #fff;
								span {
									font-size: 12px;
									display: block;
									color: #b6afb6;
								}
								&:hover {
									color: #b6afb6;
									&:before {
										content: '';
								    display: block;
								    border-bottom: 3px solid #b6afb6;
								    position: absolute;
								    left: 0;
								    right: 0;
								    bottom: -6px;
								    margin: 0 13px;
									}
								}
							}
							&.last {
								padding-right: 0;
								a:hover {
									&:before {
										margin: 0 0 0 13px;
									}
								}
							}
						}
					}
				}
			}
}

//Accordion
.z-accordion.horizontal > .z-section > .z-header {
	@include single-text-shadow(none);
	color: #fff;
	font-family: 'Tinos', serif;
	font-size: 18px !important;
	line-height: 48px;
	text-transform: uppercase;
	@include background-image(linear-gradient(top, #065379 0%, #0974aa 50%, #065379 50%));
}

.z-accordion.horizontal > .z-active > .z-header {
	color: #000;
	@include background-image(linear-gradient(top, #c2bcc2 0%, #b6afb6 50%, #c2bcc2 50%));
}

.views-uitoux-accordion {
	.home-slide {
		background-size: cover;
		background-repeat: none;
		font-family: 'Tinos', serif;

		.slide-text-wrap {
			display: table;
	    height: 100%;
	    width: 46%;
			line-height: 24px;

			.slide-text {
				display: table-cell;
		    vertical-align: middle;
		    padding: 0 0 0 55px;
			}

			.caption {
				font-size: 24px;
				margin: 0 0 24px;
			}

			a {
				display: inline-block;
				border: 1px solid #065379;
				color: #fff;
				border-radius: 3px;
    		padding: 5px 15px;
				font-size: 12px;
				@include background-image(linear-gradient(top, #0b95da 0%, #065379 100%));

				&:hover {
					border-color: #0b95da;
					@include background-image(linear-gradient(top,#0da6f2 0%,#086391 100%));
				}
			}
		}
	}

	.z-auto-g {
		padding: 0;
	}
}

//Narrow Style
.region-content {
	.field-name-field-tags, .views-field-field-tags, .submitted {
    font-size: 12px;
    color: #676767;
    margin: 0px 0 6px;
	}

	.field-name-field-tags, .views-field-field-tags {
	  .field-label, .views-label, .field-items, .field-content {
	      font-weight: normal;
	      display: inline-block;
	  }

	  .field-item {
	    margin: 0 4px 0 0;
	    display: inline-block;
	  }

		a {
			background-color: #00334d;
			color: #fff;
			border-color: #065379;
			text-decoration: underline;
			display: inline-block;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			color: #fff;
			padding: 3px;
			font-size: 12px;
			line-height: 12px;
		}
	}

	.push-left, .img-left {
	    float: left;
	    margin: 5px 10px 5px 0px;
	}

	.push-right, .img-right {
	    float: right;
	    margin: 5px 0 5px 10px;
	}

	a.button {
			text-shadow: none;
		  font-weight: normal;
			font-family: 'PT Sans', sans-serif;
	    -webkit-border-radius: 3px;
			font-size: 14px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    padding: 5px 15px;
	    text-decoration: none;
	    display: inline-block;
	    color: #065379;
	    border-color: #065379;
	    color: #fff;
	    background: #065379;
	    background: -moz-linear-gradient(top,#0b95da 0%,#065379 100%);
	    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0b95da),color-stop(100%,#065379));
	    background: -webkit-linear-gradient(top,#0b95da 0%,#065379 100%);
	    background: -o-linear-gradient(top,#0b95da 0%,#065379 100%);
	    background: -ms-linear-gradient(top,#0b95da 0%,#065379 100%);
	    background: linear-gradient(top,#0b95da 0%,#065379 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b95da',endColorstr='#065379',GradientType=0);

			&:hover {
			 color: #fff;
			 background: #086391;
			 background: -moz-linear-gradient(top,#0da6f2 0%,#086391 100%);
			 background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0da6f2),color-stop(100%,#086391));
			 background: -webkit-linear-gradient(top,#0da6f2 0%,#086391 100%);
			 background: -o-linear-gradient(top,#0da6f2 0%,#086391 100%);
			 background: -ms-linear-gradient(top,#0da6f2 0%,#086391 100%);
			 background: linear-gradient(top,#0da6f2 0%,#086391 100%);
			 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0da6f2',endColorstr='#086391',GradientType=0);
			}
	}

	hr {
		clear: both;
		background-image: -moz-radial-gradient(50% 100%,ellipse farthest-side,#d0d0d0,#f6f6f6 100%);
    background-image: -webkit-radial-gradient(50% 100%,ellipse farthest-side,#d0d0d0,#f6f6f6 100%);
    background-image: -o-radial-gradient(50% 100%,ellipse farthest-side,#d0d0d0,#f6f6f6 100%);
    background-image: -ms-radial-gradient(50% 100%,ellipse farthest-side,#d0d0d0,#f6f6f6 100%);
    background-image: radial-gradient(50% 100%,ellipse farthest-side,#d0d0d0,#f6f6f6 100%);
		clear: both;
		border: 0 none !important;
		padding: 0;
		margin: 15px 0 40px 0px;
		display: block;
		height: 25px;
	}

	img {
	    margin-top: 5px;
	    -moz-box-shadow: 0px 0px 15px #dedede;
	    -webkit-box-shadow: 0px 0px 15px #dedede;
	    box-shadow: 0px 0px 15px #dedede;
	    border: 10px solid #fff;
	}

	.content {
		p, td {
			color: #676767;
			margin-bottom: 1em;
			line-height: 22px;
			a:link {
				text-decoration: underline;
			}
		}

		ul, ol, dl, dt {
			line-height: 22px;
			color: #676767;
		}

		dl, dt {
			font-size: 14px;
		}
	}

	h1#page-title {
		font-weight: normal;
		font-size: 36px;
		text-transform: none;
		margin-left: 0;
	}

	.subhead {
		p.headline {
			color: #065379;
			border-color: #065379;
			font-size: 36px;
			font-weight: normal;
			font-family: "Tinos", serif;
			line-height: 1em;
			margin: 0 0 5px;
		}

		h1 {
			font-size: 14px;
			line-height: 27px;
			color: #676767;
		}
	}

	h2 {
		clear: both;
		padding: 10px 0;
	}

	div.sitemap {
		width: 100%;
		margin: 30px 0px 0px 0px;
	}

	div.sitemap h2.headline {
	  line-height: 40px;
	  margin: 0 0 20px 0;
	}

	div.sitemap ul {
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  list-style-type: none;
	}

	div.sitemap ul li {
	  overflow: auto;
	}

	div.sitemap ul.top {
	  display: block;
	  float: left;
	  width: 290px;
	  margin: 0 0 20px 0;
	  line-height: 22px;
	  font-size: 22px;
	}

	div.sitemap ul li ul li {
	  line-height: 24px;
	}

	div.sitemap ul.top li a {
	  margin: 0 0 0px 0;
	  display: block;
	  background: none;
	  padding-left: 3px;
	  padding-bottom: 5px;
	}

	div.sitemap ul.top li ul li a {
	  border: none;
	  margin: 0;
	  font-size: 14px;
	  line-height: 24px;
	  display: block;
	  padding-bottom: 0;
	}

	div.sitemap ul.top li ul li {
	  padding-left: 18px;
	}

	div.sitemap ul.top li ul li.last-child {
	  padding-bottom: 0;
	}

	div.sitemap-rows {
	  width: 100%;
	  overflow: auto;
	  margin-bottom: 20px;
	}

	div.sitemap ul.top li ul li {
    background: transparent url('../images/ul-long-v1449603337.png') no-repeat 0 -6px;
	}

	div.sitemap ul.top li ul li.last-child {
	    background: transparent url('../images/ul-end-v1449603337.png') no-repeat 0px -25px;
	}
}

//Share Widget
#at4-share {
	margin: 50px 0 0 !important;
}

//Accurate
.accuwrap {
	margin: 15px 0 30px;
}

//Social Stripe
#social_stripe {
    width: 100%;
    height: 140px;
}

//Footer2
.section-footer {
	@include background-image(radial-gradient(50% 1%, ellipse farthest-side, #0974aa, #00334d 100%));
	.zone-footer2-wrapper {
		background: url("../images/tex-soft-stone-v1449603337.png") top center;
		.zone-footer2 {
			.region-copyright-first {
				p {
					padding: 20px 0 0;
					text-align: center;
					color: #fff;
				}
				margin: 20px 0 0;
			}
		  h2 {
		      font-size: 24px;
		      line-height: 24px;
		      font-weight: normal;
		      margin: 0;
		      padding-bottom: 10px;
		      text-align: left;
		      border-bottom: 1px solid #0c0c0c;
		      border-bottom: 1px solid rgba(0,0,0,0.75);
					color: #fff;
		  }

		  ul {
		      margin: 0;
					padding: 0;
		      border-bottom: 1px solid #3b3b3b;
		      border-bottom: 1px solid rgba(255,255,255,0.25);
		  }

		  ul li {
					list-style: none outside none;
		      padding: 6px 0 5px;
		      border-bottom: 1px solid #0c0c0c;
		      border-bottom: 1px solid rgba(0,0,0,0.75);
		      border-top: 1px solid #3b3b3b;
		      border-top: 1px solid rgba(255,255,255,0.25);
		      margin: 0px;
		  }

		  ul li a {
		      line-height: 1em;
		      padding-left: 10px;
		      display: inline-block;
		      width: 100%;
		      padding-right: 30px;
					color: #fff;
					&:hover {
						text-decoration: underline;
					}
		  }

		  a.blog, a.docshop, a.lawyershop, a.facebook, a.googleplus, a.linkedin, a.twitter, a.yelp, a.youtube, a.pinterest, a.foursquare, a.instagram, a.flickr, a.healthgrades {
		      display: block;
		      margin-left: 5px;
		      margin-top: 2px;
		      padding: 7px 0 12px 42px;
		      background-image: url('../images/social_media_icons.png');
		      background-repeat: no-repeat;
		  }

		  a.blog {
		      background-position: 0 0;
		  }

		  a.blog:hover {
		      background-position: 0 -42px;
		  }

		  a.docshop {
		      background-position: 0 -84px;
		  }

		  a.docshop:hover {
		      background-position: 0 -126px;
		  }

		  a.facebook {
		      background-position: 0 -168px;
		  }

		  a.facebook:hover {
		      background-position: 0 -210px;
		  }

		  a.googleplus {
		      background-position: 0 -252px;
		  }

		  a.googleplus:hover {
		      background-position: 0 -294px;
		  }

		  a.linkedin {
		      background-position: 0 -336px;
		  }

		  a.linkedin:hover {
		      background-position: 0 -378px;
		  }

		  a.twitter {
		      background-position: 0 -420px;
		  }

		  a.twitter:hover {
		      background-position: 0 -462px;
		  }

		  a.youtube {
		      background-position: 0 -504px;
		  }

		  a.youtube:hover {
		      background-position: 0 -546px;
		  }

		  a.lawyershop {
		      background-position: 0 -588px;
		  }

		  a.lawyershop:hover {
		      background-position: 0 -630px;
		  }

		  a.yelp {
		      background-position: 0 -756px;
		  }

		  a.yelp:hover {
		      background-position: 0 -798px;
		  }

		  a.pinterest {
		      background-position: 0 -840px;
		  }

		  a.pinterest:hover {
		      background-position: 0 -882px;
		  }

		  a.foursquare {
		      background-position: 0 -924px;
		  }

		  a.foursquare:hover {
		      background-position: 0 -966px;
		  }

		  a.instagram {
		      background-position: 0 -1008px;
		  }

		  a.instagram:hover {
		      background-position: 0 -1050px;
		  }

		  a.flickr {
		      background-position: 0 -1092px;
		  }

		  a.flickr:hover {
		      background-position: 0 -1134px;
		  }

		  a.healthgrades {
		      background-position: 0 -1176px;
		  }

		  a.healthgrades:hover {
		      background-position: 0 -1218px;
		  }

		  .copyright {
		      clear: both;
		      text-align: center;
		      display: block;
		  }

		  .copyright a:link, .copyright a:visited {
		      text-decoration: underline;
		  }
		}
	}
}

.zone-postscript {
	.region-postscript-first {
		position: relative;
		z-index: 10;
		margin-right: 0;
		background: #fff;
		font-size: 14px;
		line-height: 26px;
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 10px 11px;
    color: #676767;
		@include box-shadow(0 15px 10px -10px rgba(0,0,0,0.1), 0 0 15px 0 rgba(0,0,0,0.1));

		p {
			margin: 0 0 10px;
		}

		h2 {
			font-size: 28px;
			border: none;
			font-weight: normal;
			line-height: 28px;
    	margin: 0 0 5px 0;
			color: #676767;
		}

		a.direction {
			padding: 5px 10px;
			color: #fff;
			margin: 10px 0 0;
			display: block;
			text-align: center;
			@include rounded-corners(3px);
			@include background-image(linear-gradient(top, #0b95da 0%, #065379 100%));

			&:hover {
				@include background-image(linear-gradient(top, #0da6f2 0%, #086391 100%));
			}
		}
	}

	.region-postscript-second {
		position: relative;
		margin-left: 0;
		z-index: 5;
		margin: 30px 0 0;
		border: 5px solid #fff;
		border-radius: 0 5px 5px 0;
		border-left: 0;
		color: #676767;

		h2 {
			font-size: 28px;
			border: none;
			font-weight: normal;
			line-height: 28px;
    	margin: 0 0 5px 0;
			color: #676767;
		}

		.form-item {
			display: inline-block;
			margin: 0;
		}

		.webform-component--free-field {
			display: block;
			margin: 10px 0;
		}

		.webform-component--free-field2 {
			display: block;
			margin: 20px 0 5px;
		}

		label {
			display: inline-block;
			padding: 2px 0 0;
			margin: 0;
			font-weight: normal;
		}

		input {
			width: 150px;
			border-color: #c9c9c9;
		}

		.webform-component--from-email input {
			width: 180px;
		}

		a.expand {
			background: url("../images/icons.png") no-repeat;
    	background-position: -4px -31px;
			padding: 0 0 0 25px;
			margin: 10px 0 25px;
			display: block;

			&:hover {
				text-decoration: underline;
			}
		}

		.webform-component--message {
			display: none;
		}

		.icon-pane {
			position: absolute;
			right: 0;
			top: 0;

			.message {
				float: left;
				color: #676767;
				font-size: 22px;
				line-height: 24px;
				text-align: right;
				margin: 8px 10px 0 0;
				font-weight: normal;
			}
			.icon {
				float: right;
				background: url("../images/email-icon.png");
				width: 119px;
				height: 117px;
			}
		}
	}

	.region-postscript-second-inner {
		padding: 15px;
		@include background-image(linear-gradient(top, #ccc 10%, #e6e6e6 60%));
	}

	.region-postscript-third {
		padding: 10px;
		margin: 0;
		background-color: #fff;
		box-shadow: 0 0 150px -40px #000;
		margin-bottom: 50px;

		.block-testimonials-block {
			position: relative;
			@include background-image(linear-gradient(#00344e, #0974aa));
			padding: 20px 30px 30px 30px;
			font-size: 26px;
			color: #fff;

			.ql, .qr {
		    position: absolute;
		    width: 75px;
		    height: 75px;
		    font-size: 200px;
		    line-height: 200px;
				opacity: .1;
				top: -20px;
				left: -30px;
				z-index: 5;
			}
			.qr {
				text-align: right;
		    bottom: -23px;
		    right: -29px;
		    top: auto;
		    left: auto;
				z-index: 5;
			}
			.quote-text {
				position: relative;
				z-index: 10;
			}
			.more-link {
				font-size: 14px;
				position: absolute;
				right: 18px;
	 			bottom: 5px;
				z-index: 10;

				a {
					color: #fff;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

//Sidebar Menu
.region-sidebar-second {
	.block-views-blogs-block {
		padding: 10px;
		background-color: #fff;

		.view-blogs {
			ul li {
				margin: 0 0 20px;
				display: block;
				height: 135px;
				p {
					padding: 0;
					margin: 0;
				}
				&.ticker-even {
					background-color: #e6e6e6;
				}

				&.ticker-odd {
					background-color: #ccc;
				}
				// .views-field-created {
				// 	font-size: 12px;
				// }
				//
				// .views-field-title {
				// 	font-size: 16px;
				// }
				//
				// .views-field-body {
				// 	font-size: 16px;
				// }
				//
				// .views-field-nid {
				//  	font-size: 12px;
				// 	float: right;
				// 	clear: both;
				// }
			}
		}
	}
	.block-menu {
		h2.block-title {
			margin-bottom: 10px;
			font-size: 25px;
		}

		.content {
			padding: 10px;
			background-color: #fff;
			box-shadow: 0px 20px 100px -50px #000;

			ul {
				background-color: #efefef;
				padding: 15px;

				li {
					border-radius: 7px;
					list-style-type: none;
					list-style-image: initial;
					padding: 10px;

					&.active-trail {
						background: #00334d;

						a {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

//Original Layout
.row {
    width: 100%;
    overflow: visible;
}

.row > .col {
		box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 0 20px;
}

.row > .col.pure {
    padding: 0;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.row.cols1 > .col.span1, .row.cols1 > .col {
    width: 100%;
}

.row.cols2 > .col.span1, .row.cols2 > .col {
    width: 50%;
}

.row.cols2 > .col.span2 {
    width: 100%;
}

.row.cols3 > .col.span1, .row.cols3 > .col {
    width: 33.3%;
}

.row.cols3 > .col.span2 {
    width: 66.6%;
}

.row.cols3 > .col.span3 {
    width: 100%;
}

.row.cols4 > .col.span1, .row.cols4 > .col {
    width: 25%;
}

.row.cols4 > .col.span2 {
    width: 50%;
}

.row.cols4 > .col.span3 {
    width: 75%;
}

.row.cols4 > .col.span4 {
    width: 100%;
}

//Mods
.mod p {
    text-align: center;
}

.mod p.h2 {
    border-bottom: 0;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.mod .button {
    display: inline-block;
    width: 100%;
    line-height: 22px;
    font-size: 14px;
}

.mod p.desc {
    line-height: 16px;
    margin-top: 10px;
}

.mod .row.links .col.first-child {
    text-align: right;
    padding-left: 0;
    padding-right: 10px;
}

.mod .row.links .col.last-child {
    text-align: left;
    padding-left: 10px;
    padding-right: 0;
}

.mod.box, .mod.text {
    text-align: left;
}

.mod.box p, .mod.text p {
    text-align: left;
}

.mod.box p.h2, .mod.text p.h2 {
    text-align: center;
}

.mod.pod img {
    width: 100%;
    height: auto;
}

.mod.pod p {
    text-align: left;
}

.mod.pod .button {
    width: auto;
}

.mod.video .row .col {
    text-align: center;
}

.mod.video a.video {
    float: none;
    height: 170px;
}

.mod.bna .row .col {
    text-align: center;
}

.mod.bna .case .row .col.first-child {
    padding-left: 0;
    padding-right: 5px;
}

.mod.bna .case .row .col.last-child {
    padding-left: 5px;
    padding-right: 0;
}

.mod.bna .img-container {
    border: 10px solid #fff;
    background: #fff;
    text-align: center;
    overflow: hidden;
    height: 170px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.mod.bna .case a:hover .img-container {
    border-color: #eee;
}

.mod.bna .img-container .inner {
    width: 500px;
    position: absolute;
    height: 150px;
    left: 50%;
    margin-left: -250px;
}

.mod.bna img {
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.mod.blog, .mod.blog_1, .mod.custom_ticker, .mod.custom_ticker_1 {
    margin: 0;
    padding: 8px 8px;
}

.mod.blog .ticker, .mod.blog_1 .ticker, .mod.custom_ticker .ticker, .mod.custom_ticker_1 .ticker {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 270px;
}

.mod.blog .ticker div.items, .mod.blog_1 .ticker div.items, .mod.custom_ticker .ticker div.items, .mod.custom_ticker_1 .ticker div.items {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 20000em;
}

.mod.blog .ticker div.item, .mod.blog_1 .ticker div.item, .mod.custom_ticker .ticker div.item, .mod.custom_ticker_1 .ticker div.item {
    height: auto;
    font-size: 14px;
    line-height: 21px;
    height: 135px;
}

.mod.blog .ticker div.item a, .mod.blog_1 .ticker div.item a, .mod.custom_ticker .ticker div.item a, .mod.custom_ticker_1 .ticker div.item a {
    height: 135px;
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.mod.blog .ticker div.item span.blogDate, .mod.blog_1 .ticker div.item span.blogDate, .mod.custom_ticker .ticker div.item span.blogDate, .mod.custom_ticker_1 .ticker div.item span.blogDate {
    display: block;
    padding: 5px 0 0 0;
    margin: 0px 5px 5px 10px;
    font-size: 12px;
}

.mod.blog .ticker div.item span.blogReadMore, .mod.blog_1 .ticker div.item span.blogReadMore, .mod.custom_ticker .ticker div.item span.blogReadMore, .mod.custom_ticker_1 .ticker div.item span.blogReadMore {
    display: block;
    margin: 10px 10px 0px 10px;
    text-align: right;
    text-decoration: underline;
    font-size: 12px;
}

.mod.blog .ticker div.item span.blogTitle, .mod.blog_1 .ticker div.item span.blogTitle, .mod.custom_ticker .ticker div.item span.blogTitle, .mod.custom_ticker_1 .ticker div.item span.blogTitle {
    display: block;
    line-height: 17px;
    max-height: 16px;
    overflow: hidden;
    margin: 0 10px 5px 10px;
    font-size: 16px;
}

.mod.blog .ticker div.item span.blogContent, .mod.blog_1 .ticker div.item span.blogContent, .mod.custom_ticker .ticker div.item span.blogContent, .mod.custom_ticker_1 .ticker div.item span.blogContent {
    display: block;
    max-height: 32px;
    overflow: hidden;
    margin: 0 5px 0px 10px;
    line-height: 16px;
}

.mod.blog .ticker p, .mod.blog_1 .ticker p, .mod.custom_ticker .ticker p, .mod.custom_ticker_1 .ticker p {
    margin: 5px 0 0 0;
    text-align: center;
}

.mod.custom_ticker .ticker div.item, .mod.custom_ticker_1 .ticker div.item {
    padding: 5px;
    overflow: hidden;
}

.mod.custom_ticker .ticker div.item a, .mod.custom_ticker_1 .ticker div.item a {
    display: inline;
    width: auto;
    height: auto;
    text-decoration: underline;
}

.mod.custom_ticker .ticker p, .mod.custom_ticker_1 .ticker p {
    margin: 0;
}

.mod.blog_1 .button {
    text-align: center;
    margin: 8px auto 0;
}

.mod.blog_1 .ticker div.item span.blogDate, .mod.custom_ticker_1.ticker div.item span.blogDate {
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid red;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.mod.blog_1 .ticker div.item span.blogTitle, .mod.custom_ticker_1.ticker div.item span.blogTitle {
    font-weight: bold;
    text-align: center;
}

.mod.blog_1 .ticker div.item span.blogReadMore, .mod.custom_ticker_1.ticker div.item span.blogReadMore {
    display: none;
}

.mod.blog_1 .ticker div.item span.blogContent, .mod.custom_ticker_1.ticker div.item span.blogContent {
    text-align: center;
}

.mod.blog p, .mod.blog_1 p {
    text-align: center;
    margin: 20px 0 10px 0;
}

.mod.blog a.icon-blog {
    padding: 5px 0 5px 30px;
}
